In [112]:
import pandas as pd
import numpy as np
from scipy import stats
import scipy

In [5]:
df=pd.read_csv('advertisement_clicks.csv')

In [12]:
df.head()

  advertisement_id  action
0                B       1
1                B       1
2                A       0
3                B       0
4                A       1

In [37]:
A = df[df['advertisement_id']=='A']['action']

In [38]:
B = df[df['advertisement_id']=='B']['action']

In [49]:
An = A.count()
An

1000

In [76]:
Bn= B.count()
Bn
N=1000

In [77]:
A.head()

2    0
4    1
5    0
7    1
9    0
Name: action, dtype: int64

In [78]:
B.head()

0    1
1    1
3    0
6    0
8    0
Name: action, dtype: int64

In [89]:
Au = A.mean()
Au

0.304

In [80]:
Bu = np.mean(B)

In [91]:
var_a = A.var(ddof=1) # unbiased estimator, divide by N-1 instead of N
var_b = B.var(ddof=1)

In [92]:
s = np.sqrt( (var_a + var_b) / 2 ) # balanced standard deviation

In [93]:
t = (A.mean() - B.mean()) / (s * np.sqrt(2.0/N)) # t-statistic

In [95]:
df = 2*N - 2

In [98]:
p = 1- stats.t.cdf(t,df=df)

In [100]:
t , 2*p

(-3.2211732138019831, 0.0012971905467125087)

In [64]:
t2,p2 = stats.ttest_ind(A,B)

In [65]:
t2,p2

(-3.2211732138019786, 0.0012971905467125246)

In [117]:
T = np.zeros((2,2)).astype(np.float32)
T[0,0]=A[A==0].count()
T[0,1]=A[A==1].count()
T[1,0]=B[B==0].count()
T[1,1]=B[B==1].count()

scipy.stats.chi2_contingency(T, correction ='FALSE')

(10.031015928064498, 0.0015392611623486726, 1, array([[ 662.,  338.],
        [ 662.,  338.]]))